
   <mat-toolbar class="primaryToolbar"> 
    <mat-toolbar-row style="display:block;">
            <span class="title-center">
            BookMaster Application!
    </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
  <button mat-button [routerLink]="['/create']" color="Warn">Add A Book</button>
  <button mat-button [routerLink]="['/read']">Find A Book</button>
  <button mat-button [routerLink]="['/edit']">Edit A Book</button>
  <button mat-button [routerLink]="['/delete']">Delete A Book</button>
</mat-toolbar-row>
 </mat-toolbar>

<router-outlet></router-outlet>

